body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    color: black;
    background: rgb(160, 180, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dropdown {
    text-align: center;
    width: 30%;
    height: 10%;
    border: 2px wavy black;
}

#ascii {
    height: 15vh;
    white-space: pre;
    font-family: monospace;
    font-size: 2vh;
    font-weight: bold;
    line-height: 1.2;
    margin-top: -10vh;
    color: rgb(230, 100, 20);
}

button {
    background-color: transparent;
    border-color: transparent;
    font-family: monospace;
    font-size: 4.5vh;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdownButton {
    visibility: hidden;
    height: 80%;
    text-align: right;
    font-size: 3.5vh;
    padding-bottom: 1.5vh;
}

.dropdownButton::first-letter {
    color: rgb(230, 100, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}

#nameButton::first-letter {
    color: rgb(230, 100, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}

.leftContainer {
    visibility: hidden;
    position: absolute;
    left: 5vw;
    height: 80%;
    width: 20%;
    padding: 2vw;
    overflow-y: auto;
    word-wrap: break-word;
    font-family: monospace;
    color: black;
    font-size: 2.5vh;
    border: 2px dashed rgb(230, 100, 20);
}

#leftText {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 3vh;
}

* {
    scrollbar-color: rgb(230, 100, 20) transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(230, 100, 20);
}

.contact {
    position: absolute;
    bottom: 2vh;
    margin: 2vh;
}

a {
    color: rgb(230, 100, 20);
    font-weight: bold;
}

#flashlight {
    position: absolute;
    width: 30%;
    transition: transform 0.05s ease-out;
    z-index: 1000;
    visibility: hidden;
    outline: solid black;
    outline-width: 9999px;
    pointer-events: none;
}

#lightToggle {
    position: absolute;
    top: 2vh;
    right: 1vw;
    height: 10vh;
    width: 5vw;
    margin-top: 0;
    background-color: transparent;
    border: 0;
}

#lightSwitch {
    height: 100%;
}

#projectButtonsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

.projectButton {
    border: 2px dashed rgb(230, 100, 20);
    padding: 1.5vh;
    font-size: 1.2vw;
    height: auto;
    text-align: left;
    margin-bottom: 1vh;
}

.projectButton:hover {
    background-color: rgb(170, 190, 160);
}

#projectDetailsContainer {
    padding: 10px 0;
    position: relative;
    top: 0;
}

#backButton {
    border: 2px dashed rgb(230, 100, 20);
    padding: 0 3vh;
    font-size: 5vh;
    height: auto;
    width: auto;
}

#backButton:hover {
    background-color: rgb(170, 190, 160);
}
